13-2-2024-WebAPI/ASMX/WebApplication1/WebApplication1/Connected Services/FlightNamespace/FlightCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFligts">
        <s:complexType />
      </s:element>
      <s:element name="GetFligtsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFligtsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateNewFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewFlightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewFlightResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFligtsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFligts" />
  </wsdl:message>
  <wsdl:message name="GetFligtsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFligtsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewFlightSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewFlight" />
  </wsdl:message>
  <wsdl:message name="CreateNewFlightSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewFlightResponse" />
  </wsdl:message>
  <wsdl:portType name="FlightCalculatorSoap">
    <wsdl:operation name="GetFligts">
      <wsdl:input message="tns:GetFligtsSoapIn" />
      <wsdl:output message="tns:GetFligtsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewFlight">
      <wsdl:input message="tns:CreateNewFlightSoapIn" />
      <wsdl:output message="tns:CreateNewFlightSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightCalculatorSoap" type="tns:FlightCalculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFligts">
      <soap:operation soapAction="http://tempuri.org/GetFligts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewFlight">
      <soap:operation soapAction="http://tempuri.org/CreateNewFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FlightCalculatorSoap12" type="tns:FlightCalculatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFligts">
      <soap12:operation soapAction="http://tempuri.org/GetFligts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewFlight">
      <soap12:operation soapAction="http://tempuri.org/CreateNewFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightCalculator">
    <wsdl:port name="FlightCalculatorSoap" binding="tns:FlightCalculatorSoap">
      <soap:address location="http://localhost:51325/FlightCalculator.asmx" />
    </wsdl:port>
    <wsdl:port name="FlightCalculatorSoap12" binding="tns:FlightCalculatorSoap12">
      <soap12:address location="http://localhost:51325/FlightCalculator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>